numpy
pandas
torch
torchvision
torchaudio
accelerate
sentence-transformers
faiss-cpu
arxiv
pymupdf
requests
gradio
ragas==0.1.21
langchain==0.1.20
langchain-community==0.0.38
langchain-openai
openai
datasets
